doctype html
html
    head
        title Ai Grid System
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )
        <!--[if lt IE 9]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        <![endif]-->
        link(rel="shortcut icon", type="image/png", href="img/favicon.png")
        link(rel="stylesheet", href="css/ai-framework.css")
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(type="text/javascript", src="js/script.js")
    body
        .ai-g-1
            .ai-col-1(style="height: 50px")
                p Width 100%
        .ai-g-2
            .ai-col-1(style="height: 50px")
                p Width 50%
            .ai-col-1(style="height: 50px")
                p Width 50%
        .ai-g-3
            .ai-col-1(style="height: 50px")
                p Width 33.33%
            .ai-col-1(style="height: 50px")
                p Width 33.33%
            .ai-col-1(style="height: 50px")
                p Width 33.33%

        hr.fade
        .ai-g-4
            .ai-col-sm-2.ai-col-md-3(style="background-color: red; height: 50px")
            .ai-col-sm-2.ai-col-md-1(style="background-color: blue; height: 50px")