doctype html
html
    head
        title Ai Navigation
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )
        <!--[if lt IE 9]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        <![endif]-->
        link(rel="shortcut icon", type="image/png", href="img/favicon.png")
        link(rel="stylesheet", href="css/ai-framework.css")
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(type="text/javascript", src="js/script.js")
    body
        .top-bar.md-bar(role="navigation")
            ul.horizontal-menu.float-right
                li
                    a(href="#")
                        i.icon.ti-star
                        | Link1
                li
                    a(href="#")
                        i.icon.ti-star
                        | Link2
                li
                    a(href="#")
                        i.icon.ti-star
                        | Link3
                li
                    a(href="#")
                        i.icon.ti-star
                        | Link4
        //- hr
        .left-bar.xl-bar.has-md-top-bar(role="navigation")
            ul.vertical-menu
                li
                    a(href="#")
                        i.icon.ti-star
                li
                    a(href="#")
                        i.icon.ti-star
                li
                    a(href="#")
                        i.icon.ti-star
                li
                    a(href="#")
                        i.icon.ti-star
        //- hr
        .right-bar.md-bar.has-md-top-bar(role="navigation")
            ul.vertical-menu
                li
                    a(href="#") Link1
                li
                    a(href="#") Link2
                li
                    a(href="#") Link3
                li
                    a(href="#") Link4
        //- hr
        .bottom-bar.lg-bar(role="navigation")
            ul.vertical-menu
                li
                    a(href="#")
                        i.icon.ti-star
                li
                    a(href="#")
                        i.icon.ti-star
                li
                    a(href="#")
                        i.icon.ti-star
                li
                    a(href="#")
                        i.icon.ti-star